* {
    padding: 0;
    margin: 0;
}

.principal {
    padding: 0;
    margin: 0;
    /* background: linear-gradient(139deg, rgba(20,20,58,1) 25%, rgba(44,21,89,1) 41%, rgba(47,21,92,1) 60%, rgba(36,20,70,0.9631185237766982) 92%); */
    background: linear-gradient(139deg, rgba(20, 20, 58, 1) 34%, rgba(44, 21, 89, 1) 44%, rgba(47, 21, 92, 1) 57%, rgba(36, 20, 70, 0.9827263669139531) 80%);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 700px;
}

img {
    width: 400px;
    border-radius: 150px;
    display: block;
    margin: 50px auto;
}

h1 {
    font-family: 'Orelega One', cursive;
    font-size: 70px;
    text-align: center;
    color: #86cff7;
    text-shadow: 15px 15px 22px #bb48d9;
}

.subtitulo-principal {
    font-family: 'Orelega One', cursive;
    font-size: 35px;
    text-align: center;
    color: #bb48d9;
    text-shadow: 15px 15px 22px #86cff7;
}

.subtitulo {
    padding: 10px;
    border: 10px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 40px;
    background-color: #86cff7;
    text-align: center;
    text-decoration: underline 5px;
}

.instagram {
    width: 100%;
    padding: 21px;
    border: 10px;
    text-align: center;
    font-size: 25px;
    background-image: linear-gradient(to bottom right, #515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
}

.twitch {
    width: 100%;
    padding: 21px;
    border: 10px;
    text-align: center;
    font-size: 25px;
    /* background: linear-gradient(180deg, rgba(109,47,201,1) 22%, rgba(125,70,207,1) 38%, rgba(144,97,214,1) 64%, rgba(163,124,221,1) 76%, rgba(182,151,228,1) 88%); */
    background: radial-gradient(circle, rgba(109,47,201,1) 22%, rgba(125,70,207,1) 38%, rgba(144,97,214,1) 64%, rgba(163,124,221,1) 76%, rgba(182,151,228,1) 88%);
}

.facebook {
    width: 100%;
    padding: 21px;
    border: 10px;
    text-align: center;
    font-size: 25px;
    background: linear-gradient(253deg, rgba(3,110,228,1) 43%, rgba(8,125,234,1) 46%, rgba(14,141,241,1) 54%, rgba(18,153,246,1) 80%, rgba(22,166,251,1) 85%, rgba(17,152,245,1) 95%, rgba(17,152,245,1) 100%);
}

a {
    font-family: "Anton", sans-serif;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.8);
}

